body {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 13px;
    margin: 0;
    background:#BCDFFF
}

header {
    background: #62DBEE;
    padding: 20px;
    color: #fff;
}

.controls {
    padding: 20px;
    background: #034F50;
    color: #fff;
}


.news-grid {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    
    /* Supports Grid */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 1em;
}

.article {
    background: #F9F8FF;
    border-radius: 3px;
    height: 340px;
    overflow: hidden;
    color: #5a5a5a;
}

.article-image {
    height: 168px;
    background-size: cover;
}

.article-heading {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #3e3e3e;
    font-weight: bold;
}

.article-content {
    padding: 0 10px;
}

.article-heading:hover {
    text-decoration: underline;
    color: #1380A1;
}